<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        .msgList li{
            padding-top: 30px;
            width: 100%;
        }
        #msgItem{
            width: 100%;
            height:50px ;
        }
    </style>
</head>
<body>
<div class="container">
    <h3 id="myUserName"></h3>
    <div class="" style="min-height: 580px ;padding: 30px;background-color: #f8ffff">
        <div class="col-sm-8">
            <div class="col-sm-12"  style="height: 400px;background-color: #ffffff;overflow-y: scroll">
                <ul style="list-style: none" class="msgList" >
                    <li>
                        <span>马云兄:</span><span>12312312</span>
                    </li>
                    <li>
                        <span style="color: red">我自己:</span><span>12312312</span>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12" style="margin-top: 15px">
                <textarea class="form-control msgContext" rows="3"></textarea>
                <button type="button" class="btn btn-success send" style="margin-top: 5px;float: right">发送消息</button>
            </div>
        </div>
        <div class="col-sm-2">在线区域</div>
    </div>
</div>

</body>
</html>
<script src = "/js/jq.js"></script>
<script src = "/vendor/layer/layer.js"></script>
<script>

    //连接
    conn = "";
    //用户名
    username = "";
    //聊天类型
    chattype = "all" //all  广播  singel  个人   room 聊天室
    touser = "all" //all  广播    根据chattype 判断

    $(document).ready(function(){
        // setName();
        // Conn();
        conn = new WebSocket("ws://127.0.0.1:8975/ws");

        conn.onopen = function (evt) {
            var mesage = {
                "user":"123",
                "mes":'Hello Server!'
            }
            conn.send(JSON.stringify(mesage))
        }
        conn.onclose = function(evt) {
            console.log($("<div><b>Connection Closed.</b></div>"))
        }
        conn.onmessage = function(evt) {
            // console.log($("<div/>").text(evt.data))
        }
        $(".send").click(function(){
            if (username === ""){
                setName()
                return false
            }

            msg = $(".msgContext").val()
            if (msg === ""){
                layer.msg("发送的消息不能为空哦")
                return false
            }
            msg = buildMsg(msg)
            conn.send(msg)

        })

    });

    function setName() {
        layer.prompt({title: '出来混就说个名字吧', formType: 2}, function(name, index){
            layer.close(index);
            username = name
            $("#myUserName").text(username);
            // alert(username)
        });
        if( username === ""){
            alert()
            return false
        }
    }

    function buildMsg(msg) {
        var msgData = {
            "msgType":chattype,
            "msgContext":msg,
            "username":username,
            "toUser":touser
        }
        return JSON.stringify(msgData)
    }

    function Conn(){


    }
</script>

